body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #1d3621;
    background-image: url(background.jpg);
    background-size: cover;
}

header {
    background-color: #004D25;
    padding: 30px 50px;
    color: white;
}

.signin-btn {
    background: white;
    color: #1f4e2d;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.signin-btn:hover {
    background: #a8e6a2;
    transform: scale(1.05);
    cursor: pointer;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.3s;
}

nav a:hover {
    color: #a8e6a2;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #a8e6a2;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}


nav a.active {
    background-color: #588157;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    padding: 40px 20px;
    text-align: center;
}

.top-box {
    width: 85%;
    height: 260px;
    background: #dceac4;
    margin: 40px auto;
    border-radius: 30px;
    overflow: hidden;
    border: 3px solid #0d3c19;
}

.top-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    gap: 40px;
}

.sidebar {
    width: 30%;
}

.sidebar h2 {
    background: #0b3b1a;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 0 0 10px 0;
    text-align: left;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    background: #0c4920;
    margin: 0;
    text-align: left;
}

.sidebar ul li {
    padding: 15px 10px;
    font-size: 17px;
    color: white;
    border-bottom: 1px solid #c8dfc6;
    text-align: left;
}

.sidebar ul li a{
    text-decoration: none;
    color: white;
}

.sidebar ul li.active span {
    background: none;
    display: inline-block;
    padding: 5px 12px;
    background-color: #6e8b6f;
    border-radius: 5px;
}

.content {
    width: 65%;
    border-left: 1px solid #ccc;
    padding-left: 30px;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    font-size: 17px;
    text-align: justify;
    line-height: 1.6;
}

.footer-top {
    background-color: #1F7C3E; 
    padding: 40px 20px;
    color: white;
}

.footer-section .icons span {
    font-size: 26px;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.footer-section .icons span:hover {
    transform: scale(1.2);
    opacity: 0.8;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    width: 30%;
    min-width: 250px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.social-icons img {
    width: 25px;
    margin-right: 10px;
}

.footer-section input {
    padding: 8px;
    width: 80%;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.subscribe-btn {
    padding: 8px 15px;
    border: none;
    background-color: white;
    color: #0b5c2c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.subscribe-btn {
    background: #1f4e2d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.subscribe-btn:hover {
    background: #2f7e45;
    transform: scale(1.05);
    cursor: pointer;
}


.footer-bottom {
    background-color: #0b5c2c;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 13px;
}
.primary-btn {
    background: #1f4e2d;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #2f7e45;
    transform: translateY(-3px);
    cursor: pointer;
}

.secondary-btn {
    background: transparent;
    border: 2px solid #1f4e2d;
    padding: 12px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.secondary-btn:hover {
    background: #1f4e2d;
    color: white;
    transform: translateY(-3px);
    cursor: pointer;
}

