/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    background: #1f4e2d;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #9be3b4;
}

.signin-btn {
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.signin-btn:hover {
    background: #f0f0f0;
}

/* HERO SECTION */
.hero {
    height: 70vh;
    background: url("https://i.pinimg.com/736x/8f/97/b1/8f97b132a8144460253f05dd51e8f63a.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    max-width: 1000px;
    color: white;
}

.hero h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
}

.hero p {
    margin: 15px 0;
    font-size: 20px;
}

.hero-buttons {
    margin-top: 20px;
}

.primary-btn,
.secondary-btn {
    padding: 15px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.primary-btn {
    background: #0a3d1c;
    color: white;
}

.secondary-btn {
    background: #9be3b4;
    color: black;
}

/* FOOTER */
footer {
    background: #1f4e2d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    min-width: 250px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.4;
}

.icons span {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Newsletter */
.footer-section.updates {
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: flex-start; /* left align */
}

.footer-section.updates input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

.subscribe-btn {
    margin-top: 10px;          /* spacing under input */
    padding: 10px 20px;
    background: white;
    color: #1f4e2d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background: #f0f0f0;
}

/* COPYRIGHT BAR */
.footer-bottom {
    text-align: center;
    background: #173b22;
    color: white;
    padding: 12px;
    font-size: 13px;
}
